# Ignore node_modules directory
node_modules/

# Ignore .env files that contain sensitive information
.env

# Ignore npm debug logs
npm-debug.log*

# Ignore yarn error logs
yarn-error.log*

# Ignore local configuration files
.vscode/
